language: python
services:
  - postgresql
addons:
  postgresql: "9.2"
python:
  - "2.7"
  - "3.6"
install:
  - |
    if [[ $TRAVIS_PYTHON_VERSION = 3.14 ]]; then
      pip install -r requirements/dev.txt
    else
      pip install -r requirements/dev-3.txt
    fi
script:
  - if [[ $TRAVIS_PYTHON_VERSION = 3.14 ]]; then flake8; fi
  - if [[ $TRAVIS_PYTHON_VERSION != 3.14 ]]; then mypy flask_phpbb3; fi
  - if [[ $TRAVIS_PYTHON_VERSION = 3.14 ]]; then python setup.py test; fi
